.name-link {
  text-decoration: none;
  text-align: center;
}

.my-first-name {
  margin: 0 auto;
  font-family: 'Montserrat';
  font-size: 3rem;
  color: white;
  padding-top: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-last-name {
  margin: 0 auto;
  font-family: 'Montserrat';
  font-size: 3rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  margin: 0 auto;
  height: 10em;
  width:  100%;
  background-color: black;
}