.music-title {
    margin: 1em;
    font-size: 3rem;
    font-family: "Montserrat", "sans";
    text-shadow: 1.5px 7px 7px rgba(0, 0, 0, 0.2);
  }

.music-description {
  height: 5em;
  padding: 1em;
  margin: 0 1em 1em 1em;
  font-size: 1em;
  font-family: "Roboto", "sans";
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}