.nav-container {
  font-family: 'Montserrat';
  display: grid;
  grid-template-areas: 
  "A1 A2 A3 A4 A5";
  text-align: center;
  border-bottom: 1px solid grey;
}

.about-link {
  grid-area: A2;
  text-decoration: none;
}

.projects-link {
  grid-area: A3;
  text-decoration: none;
}

.contact-link {
  grid-area: A4;
  text-decoration: none;
}
