.nav-container {
  height: 2em;
  font-family: "Montserrat";
  display: grid;
  grid-template-areas: "A1 A2 A3 A4 A5 A6";
  text-align: center;
  align-items: center;
  border-bottom: 1px solid grey;
  box-shadow: -2px 5px 6px rgba(50, 50, 50, 0.32);
  background-image: linear-gradient(
    to bottom,
    rgba(215, 215, 215),
    white,
    white
  );
}

.about-link {
  grid-area: A2;
  text-decoration: none;
  color: black;
  border-right: 1px solid rgba(190, 190, 190, 0.5);
  border-left: 1px solid rgba(190, 190, 190, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-link:hover {
  animation: grey-to-black;
  animation-duration: 1.5s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

.projects-link {
  grid-area: A3;
  text-decoration: none;
  color: black;
  border-right: 1px solid rgba(190, 190, 190, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-link:hover {
  animation: grey-to-black;
  animation-duration: 1.5s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

.resume-link {
  grid-area: A4;
  text-decoration: none;
  color: black;
  border-right: 1px solid rgba(190, 190, 190, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-link:hover {
  animation: grey-to-black;
  animation-duration: 1.5s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

.contact-link {
  grid-area: A5;
  text-decoration: none;
  color: black;
  border-right: 1px solid rgba(190, 190, 190, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-link:hover {
  animation: grey-to-black;
  animation-duration: 1.5s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@media only screen and (max-width: 750px) {
  .nav-container {
    font-size: 0.5rem;
    width: 100vw;
    height: 8vh;
  }
}
@media only screen and (max-width: 400px) {
  .nav-container {
    font-size: 0.5rem;
    width: 100vw;
    height: 8vh;
  }
}

@keyframes grey-to-black {
  from {
    color: black;
    background: white;
  }
  to {
    color: white;
    background: black;
  }
}
