.about-container {
  height: 120vh;
  display: grid;
  grid-template-areas:
    "A1 A2"
    "B1 B2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
}

.about-me-title {
  font-family: "Montserrat";
  font-size: 3rem;
  text-shadow: 1.5px 7px 7px rgba(0, 0, 0, 0.2);
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
}

.about-me-text {
  font-size: 2rem;
  display: flex;
  grid-area: B1;
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  text-shadow: rgba(210, 210, 210, 0.6) 1.5px 5px 3px;
}

.text-container {
  margin: 0 auto;
  display: flex;
  align-self: center;
  text-align: center;
  font-family: "Roboto" "sans";
}

.icon-title {
  grid-area: B1;
  font-size: 3rem;
  font-family: "Montserrat", "sans";
  text-shadow: 1.5px 7px 7px rgba(0, 0, 0, 0.2);
  animation: fadeIn ease 6s;
  -webkit-animation: fadeIn ease 6s;
}

.icon-container {
  margin-top: 0.3em;
  grid-area: B2;
  display: grid;
  grid-template: 150px 150px / auto auto auto;
  justify-content: space-evenly;
  font-size: 5rem;
  text-shadow: 1.5px 7px 7px rgba(0, 0, 0, 0.2);
  animation: fadeIn ease 6s;
  -webkit-animation: fadeIn ease 6s;
}

@media only screen and (max-width: 1400px) {
  .about-container {
    font-size: 0.5rem;
    width: 100;
    height: 120vh;
    display: flex;
    flex-flow: column wrap;
  }
  .about-me-text {
    font-size: 1.3rem;
  }
  .icon-container {
    gap: 0.2em;
    grid-column-gap: 3em; 
  }
}
@media only screen and (max-width: 750px) {
  .about-container {
    font-size: 0.5rem;
    width: 100;
    height: 210vh;
    font-size: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
  }
  .about-me-text {
    font-size: 1.3rem;
  }
  .icon-container {
    display: flex;
    flex-flow: column;
  }
}

@media only screen and (max-width: 450px) {
  .about-container {
    font-size: 0.5rem;
    width: 100;
    height: 230vh;
    display: flex;
    flex-flow: column;
  }
  .about-me-text {
    font-size: 1.3rem;
  }
  .icon-container {
    display: flex;
    flex-flow: column;
  }
}
@media only screen and (max-width: 350px) {
  .about-container {
    font-size: 0.5rem;
    width: 100;
    height: 240vh;
    display: flex;
    flex-flow: column;
  }
  .about-me-text {
    font-size: 1.3rem;
  }
  .icon-container {
    display: flex;
    flex-flow: column;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
