.contact-form {
  margin-top: 7em;
  display: grid;
  justify-content: center;
  align-items: center;
}

.contact-me-title {
  font-size: 3rem;
  font-family: "Montserrat", "sans";
  text-shadow: 1.5px 7px 7px rgba(0,0,0,0.2);
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
}

.information-container {
  margin: 2em auto;
  font-family: "Roboto", "sans";
  font-size: 1.25rem;
  text-align: left;
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
