.contact-form {
  margin-top: 7em;
  display: grid;
  justify-content: center;
  align-items: center;
}

.contact-me-title {
  font-size: 3rem;
  font-family: "Montserrat", "sans";
}

.information-container {
  margin: 2em auto;
  font-family: "Roboto", "sans";
  text-align: left;
}
