.landing-container {
  margin-top: 2em;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Roboto", "sans";
  text-shadow: 1.5px 7px 7px rgba(0, 0, 0, 0.2);
  display: grid;
  justify-content: center;
  align-items: center;
}
