.landing-container {

  height: 70vh;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Roboto", "sans";
  text-shadow: 1.5px 7px 7px rgba(0, 0, 0, 0.2);
  display: grid;
  justify-content: center;
  align-items: center;
}

.welcome{
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
}

.greeting{
  animation: fadeIn ease 6s;
  -webkit-animation: fadeIn ease 6s;
}

.thanks{
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
