#landing {
  color: white;
  height: 100vh;
  background: linear-gradient(45deg, #202434 30%, #202440 40%, #202480 );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Galaxy Fold */
@media only screen and (max-width: 281px) {
  #landing {
    height: 130vh;
  }
}