.projects-container {
  margin-top: 1.5em;
  height: 200vh;
  max-width: 100%;
  font-family: "Roboto";
  font-weight: bolder;
  display: grid;
  grid-template-areas:
    "A1" 
    "A2" 
    "A3";
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
  padding: 2em;
}

.pppc-project {
  grid-area: B2;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: -2px 5px 6px rgba(50, 50, 50, 0.32);
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  background: linear-gradient(0deg, rgb(50, 190, 215) 0px, rgb(255, 255, 255) 100%);
  padding: 5em 2em;
  height: 40vh;
  min-height: 33;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

.gl-project {
  grid-area: A2;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: -2px 5px 6px rgba(50, 50, 50, 0.32);
  background: linear-gradient(105deg, white, rgb(50, 252, 255), rgb(43, 189, 13), white);
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  padding: 5em 2em;
  height: 40vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}
.pr-project {
  grid-area: A1;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: -2px 5px 6px rgba(50, 50, 50, 0.32);
  background: linear-gradient(to right, rgb(118, 255, 173), rgb(255, 91, 91), rgb(255, 255, 122));
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  padding: 5em 2em;
  height: 40vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

.pr-logo {
  border: 2px solid grey;
  border-radius: 35px;
}

.gl-logo {
  border: 2px solid grey;
  border-radius: 35px;
}

.pppc-logo {
  border: 2px solid grey;
  border-radius: 35px;
}

.ppp-logo {
  border: 2px solid grey;
  border-radius: 35px;
}

.pppc-link {
  text-decoration: none;
  color: black;
}
.gl-link {
  text-decoration: none;
  color: black;
}

.pr-link {
  text-decoration: none;
  color: black;
}

.pr-title {
  font-family: 'Montserrat','sans';
}
.gl-title {
  font-family: 'Montserrat','sans';
}
.pppc-title {
  font-family: 'Montserrat','sans';
}

@media only screen and (max-width: 400px) {
  .projects-container {
    font-size: 0.8rem;
    width: 100;
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
  }
}

@media only screen and (max-height: 600px) {
  .projects-container {
    height: 215vh;
  }
}
@media only screen and (max-height: 500px) {
  .projects-container {
    height: 225vh;
  }
}


@media only screen and (max-width: 415px) {
  .projects-container {
    height: 240vh;
  }
  .pppc-project {
    height: 55vh;
  }
  .gl-project {
    height: 55vh;
  }
  .pr-project {
    height: 55vh;
  }
}
@media only screen and (max-width: 375px) {
  .projects-container {
    height: 180vh;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
