i {
  font-size: 4rem;
}

#skills {
  color: white;
  height: 100vh;
  background: linear-gradient(45deg, #7F1720 30%, #202439 70%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
